@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./custom.css";
@import "./syntax/monokai.css";

@layer components {
  .heading em,
  .heading strong,
  .logo h2 strong {
    color: #000;
    font-weight: inherit;
    font-style: normal;
  }
}
